<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
            body{
                padding:40px;
            }
            .btn{
                float:right;
                margin-right:30px;
            }
            .top{
                margin-bottom:20px;
            }
            .top>.btn-success{
                margin-top:20px;
            }
        </style>
    </head>
    <body>
        <div class="top">
            <a style="font-size:40px">자유게시판</a>
            <h1>수정</h1>
            <a href="boards/movie"><button type="button" class="btn btn-success">영화게시판</button></a>
        </div>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">제목</th>
              <th scope="col">작성자</th>
              <th scope="col">수정하기</th>
              <th scope="col">삭제하기</th>
              <th scope="col">작성한 날짜</th>
            </tr>
          </thead>
          <tbody>
              <% @all.each do |p| %>
            <tr>
              <th scope="row"><%=p.id%></th>
              <td><a href="/boards/show1/<%=p.id%>"><%=p.title%></a></td>
              <td><%=p.user%></td>
              <td><a href="/boards/show2/<%=p.id%>">수정하기</a></th>
              <td><a href="/boards/delete/<%=p.id%>">삭제하기</a></th>
              <td><%=p.created_at%></td>
            </tr>
            <% end%>
          </tbody>
        </table>
        <a href="/boards/create"><button type="button" class="btn btn-info">글 작성하기</button></a>
    </body>
</html>